<div>
    <label> Title</label>
    <input type="text" name="title" class="form-control {% if 'invalid_title' in errors %} is-invalid {% endif %}" value="{{previous_values.Title}}">
    {% if 'invalid_title' in errors %}
    <div class="invalid-feedback">
        {{errors.invalid_tile}}
    </div>
    {%endif%}
</div>
<div>
    <label>Product Description</label>
    <textarea name="editordata" id="summernote" class="form-control {% if 'invalid_description' in errors  %} is-invalid {% endif %}" >{{previous_values.Description}}</textarea>
    {% if 'invalid_description' in errors  %}
    <div class="invalid-feedback">
        {{errors.invalid_description}}
    </div>
    {% endif %}
</div>
<div>
    <label> Price</label>
    <input type="number" name="price" step="0.01" min=0 class="form-control {% if 'invalid_price' in errors %} is-invalid {% endif %}" value="{{previous_values.Price}}">
    {% if 'invalid_price' in errors %}
    <div class="invalid-feedback">
        {{errors.invalid_price}}
    </div>
    {%endif%}
</div>
<div>
    <label>Country </label>
    <select name="country" class="form-control" > 
    {% for each_country in countries %}
        <option value="{{each_country}}" {%if each_country == previous_values.Country %} selected {%endif%}>{{each_country}}</option>
    {% endfor %}
    </select>
</div>
<div>
    <div>
    <label>Product Image</label>
    </div>
    <div>
    <a id="upload_widget" class="cloudinary-button">Upload Files</a>
    </div>
    <input type="hidden" id="uploaded-file-url" name="uploaded-file-url"/>
    <input type="hidden" id="asset-id" name="asset-id"/>
</div>