<div class="form-group">
    <label class="control-label" id="form-labels"> Full Name</label>
    <input type="text" name="name" class="form-control {% if 'invalid_name' in errors %} is-invalid {% endif %}" value="{{previous_values.Full_Name}}">
    {% if 'invalid_name' in errors %}
    <div class="invalid-feedback">
        {{errors.invalid_name}}
    </div>
    {%endif%}
</div>
<div class="form-group">
    <label class="control-label" id="form-labels"> Country </label>
    <input type="text" name="country" class="form-control" value="{{previous_values.Country}}">
</div>
<div class="form-group">
    <labe class="control-label" id="form-labels"> Bio </label>
    <textarea rows="10" col="50" name="bio" class="form-control" >{{current_profile.Bio}}</textarea>
</div>