body{
    padding:0;
    margin:0;
}
.page {
    height: 100vh;
    box-sizing: border-box; /* padding and marign will be part of the element's width instead of being added on */
    will-change: transform;
    transition: transform 0.5s ease-in;
    position: absolute;
    width:100%;
}

#page-1 {
    background-image:url(../static/images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:100vh;
}

#jumbotron-hero{
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    background:transparent;
}

#hero h1{
    width:100%;
    max-width: 100%;
    font-family: Verdana,sans-serif;
    font-size:12em;
    font-weight:700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191, 
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

#hero h2{
    font-family:Georgia, sans-serif;
    font-weight: 700;
    line-height:24px;
    font-size:6em;
    margin-bottom: 36px;
    color: #f5f5f5;
    max-width: 100%;
    width:100%;
}

.d-flex{
    display:flex !important;
    justify-content: center;
}

#page2-btn{
    width:180px;
    padding: 10px 35px 10px 35px;
    display:inline-block;
    font-family: 'Roboto',sans-serif;
    font-weight: 800;
    font-size:20px ;
    border-radius: 20px;
}

#register-button{
    width:180px;
    padding:10px 35px 10px 35px;
    font-weight: 800;
    display:inline-block;
    font-family: 'Roboto',sans-serif;
    border-radius:20px;
}

#page-2 {
    background-color:#CECDBC;
}


.hidden {
    transform: translateX(-100%);
}

.show {
    transform: translateX(0);
}

#all-pages {
    position: relative;   

}


:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url(../static/images/community.jpg);
    background-size: cover;
    background-position: left;
  }

  #image-login{
    display:flex;
    text-align:center;
    font-family:Verdana, sans-serif;
    color: black;
    flex-direction: column;
    padding-top: 40px;
  }
.login-heading {
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align:center;
  }

#form-labels{
    font-family:'Ubuntu',sans-serif;
    font-weight:400;
}

#submit-area{
    width:100%;
}
#submit-button-login{
    font-family: 'Ubuntu',sans-serif !important;
    font-weight: bold;
    font-size:14px;
    line-height:36px;
    width:100%;
}

#global-search-area,
#show-listing-area,
#show-post-area,
#edit-listing-area,
#user-listings-area,
#user-post-area,
#listing-area,
#profile-area,
#edit-comment-area,
#edit-post-area,
#update-profile-area,
#post-area,
#register-area{
    background-image: url(../static/images/forms-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:350vh;
}

.card-global-search,
.card-show-listing,
.card-edit-comment,
.card-show-post,
.card-edit-listing,
.card-user-listing,
.card-edit-post,
.card-listing,
.card-profile-update,
.card-profile,
.card-post,
.card-register{
    border:0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
}

.card-global-search .card-title,
.card-show-listing .card-title
.card-edit-comment .card-title,
.card-show-post .card-title,
.card-edit-listing .card-title,
.card-user-listing .card-title,
.card-edit-post .card-title,
.card-user-post .card-title,
.card-listing .card-title,
.card-profile-update .card-title,
.card-profile .card-title,
.card-post .card-title,
.card-register .card-title{
    margin-bottom: 2rem;
    font-weight:300;
    font-size: 1.5rem;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

.card-global-serach .card-body,
.card-show-listing .card-body,
.card-edit-comment .card-body,
.card-show-post .card-body,
.card-edit-listing .card-body,
.card-user-listing .card-body,
.card-edit-post .card-body,
.card-user-post .card-body,
.card-listing .card-body,
.card-profile-update .card-body,
.card-profile .card-body,
.card-post .card-body,
.card-register .card-body{
    padding:2rem;
}

#post-search,
#listing-search,
.edit-comment-form,
.edit-listing.form,
.edit-post-form,
.form-listing,
.update-profile-form,
.form-post,
.form-register{
    width:100%;
}

.vertical-nav {
    min-width: 16rem;
    width: 16rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

#nav-item-text,
#searchbar-nav,
.username{
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}


#sidebar-nav-text{
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#logout-area{
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    display:flex;
    justify-content: center;
}
  .page-content {
    width: calc(100% - 16rem);
    margin-left: 16rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -16rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  

#jumbotron-background{
    background-image:url(../static/images/watch_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:40vh;
    max-height:40vh;
    text-align:center;
    margin-bottom: 0px !important;
}

.title-hero-text{
    width:100%;
    max-width: 100%;
    font-family: Verdana,sans-serif;
    font-size:12em;
    font-weight:700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191, 
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

.votes-area{
    display:flex;
    flex-direction: column;
}


#navigation-post-area{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation-listing-area{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-area,
.filter-settings{
    display: flex;
    flex-direction: row;
    
}
.navigation-button-area{
    display: flex;
    justify-content: flex-end;
}

.downvote-button{
    color:inherit;
}

.more-post-details{
    display:flex;
    flex-direction: column;
}

#profile-image-area{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profile-icon-image{
    height:25vh;
    width:40%;
}

.filter-settings,
#profile-username,
#text-user-details{
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

#list-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.watch-details{
    display:flex;
    flex-direction: column;
}

.image-area{
    display:flex;
    flex-direction: column-reverse;
}

.user-options{
    display:flex;
    flex-direction: row;
}

#total-pages{
    color:inherit;
}

.pagination-search,
.pagination-comments,
.pagination-listings,
.pagination-posts{
    display:flex;
    flex-direction: row;
}


#page-number-layout{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#create-listing-community-area,
#create-post-community-area,
#update-form-button,
.user-options{
    font-family: 'Ubuntu',sans-serif;
    font-weight:bold;
    font-size:14px;
}

.header-show-post{
    display: flex;
    justify-content: center;
}
#title-area-show-post{
    font-family: 'Ubuntu',sans-serif;
    font-weight:bold;
    font-size:40px;

}
.vote-area-post{
    position: absolute;
    left:15px;
    top:15px;
    display:flex;
    flex-direction: column;
    font-family: 'Ubuntu',sans-serif;
    font-weight:bold;
    font-size:20px;
}

.posts-details-extra{
    font-family: 'Ubuntu',sans-serif;
    font-weight:bold;
    font-size:14px;
}

.extra-comment-details{
    display:flex;
    flex-direction: column;
}


#browse-guest-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 30%;
    font-family: 'Roboto',sans-serif;
    font-weight: 800;
}


#chat-to-buy-btn{
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

.cloudinary-button{
    font-family: 'Ubuntu',sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    color:white !important;
    background-color: grey !important ;
}

#submit-btn,
#post-search,
#listing-search{
    display:none;
}

#choose-search{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.radio-btn-area{
    display:flex;
    justify-content: center;
}
/* Media Query */
@media(max-width: 768px) {
    #sidebar {
      margin-left: -16rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 16rem;
      width: calc(100% - 16rem);
    }
}

/* Media Query for mobile sized phones display */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

    #hero-container{
        margin-left: 30px !important;
    }
    #hero h1{
        font-size: 3em;
        padding-right:50px;
    }

    #hero h2{
        font-size: 24px;
        padding-right: 50px;
    }

    #register-button{
        padding:10px 35px 10px 27px;
        margin-right: 60px !important;
        width: 140px;
    }

    #page2-btn{
        width: 120px;
        padding: 10px 35px 10px 30px;
        margin-left: 0px;
        margin-right: 0px !important;
    }

    #browse-guest-btn{
        width: 75%;
        margin-right: 50px;
    }

    .title-hero-text{
        font-size: 3em;
        margin-top: 100px;
    }

    #side-area-items{
        display: none;
    }

    #navigation-post-area{
        padding-left:0px !important;
    }

    #navigation-listing-area{
        padding-left:15px !important;
    }

    .image-area{
        flex-direction: row-reverse;
    }

    #profile-icon-image{
        height:20vh;
        width: 50%;
    }

    #profile-image-area{
        padding:0 !important;
    }

    #list-details{
        font-size:16px;
    }

    .bio-content{
        font-size: 15px;
    }

    #filter-text-recent{
        margin-left:20px;
    }

    .card-show-post .card-body{
        padding: 1rem;
    }
}

/* Media Query for Tablet Display */
@media only screen and (min-width:768px) and (max-width:1439px){
    #hero-container{
        margin-left: 30px !important;
    }
    #hero h1{
        font-size: 6em;
        padding-right:50px;
    }

    #hero h2{
        font-size: 50px;
        padding-right: 50px;
    }

    #register-button{
        padding:10px 35px 10px 35px;
        margin-right: 60px !important;
        width: 180px;
    }

    #page2-btn{
        width: 180px;
        padding: 10px 35px 10px 35px;
        margin-left: 0px;
        margin-right: 0px !important;
    }

    #image-login{
        display:none !important;
    }
    #login-form-area{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #browse-guest-btn{
        width: 60%;
        margin-right: 50px;
    }

    .title-hero-text{
        font-size: 6em;
        margin-top: 100px;
    }

    #post-listing-area{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    #side-area-items{
        display: none;
    }

    #navigation-post-area{
        padding-left:0px !important;
    }

    #navigation-listing-area{
        padding-left:15px !important;
    }

    .image-area{
        flex-direction: row-reverse;
    }

    #profile-icon-image{
        height:20vh;
        width: 50%;
    }

    #profile-image-area{
        padding:0 !important;
    }

    #list-details{
        font-size:16px;
    }

    .bio-content{
        font-size: 15px;
    }

    #filter-text-recent{
        margin-left:20px;
    }

    .card-show-post .card-body{
        padding: 1rem;
    }
}