{% extends 'base.template.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div id="post-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-post my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">CREATE POST</h5>
                        <form method="POST" class="post-form">
                            {%with%}
                                <div>
                                    <label> Title</label>
                                    <input type="text" name="title" class="form-control {% if 'invalid_title' in errors %} is-invalid {% endif %}">
                                    {% if 'invalid_title' in errors %}
                                    <div class="invalid-feedback">
                                        {{errors.invalid_title}}
                                    </div>
                                    {%endif%}
                                </div>
                                <div>
                                    <label> Watch Model</label>
                                    <input type="text" name="watch" class="form-control {% if 'invalid_watch' in errors %} is-invalid {% endif %}">
                                    {% if 'invalid_watch' in errors %}
                                    <div class="invalid-feedback">
                                        {{errors.invalid_watch}}
                                    </div>
                                    {%endif%}
                                </div>
                                <div>
                                    <label>Content</label>
                                    <textarea name="editordata" id="summernote" class="form-control {% if 'invalid_content' in errors  %} is-invalid {% endif %}" ></textarea>
                                    {% if 'invalid_content' in errors  %}
                                    <div class="invalid-feedback">
                                        {{errors.invalid_content}}
                                    </div>
                                    {% endif %}
                                </div>
                                <input type="submit" value="POST" class="btn btn-danger btn-block">
                                <div class="text-center">
                                    <a class="small" href="{{url_for('home')}}" style="color:inherit;">Back to Home</a></div>
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}