{% extends 'base.template.html' %}

{% block content %}
    <ul>
    {% for key, each_error in errors.items() %}
        <li>{{each_error}}</li>
    {% endfor %}
    </ul>

    <form method="POST">
        {%with%}
            {% if not previous_values %}
                {% set previous_values = {} %}
            {% endif %}

            <div>
                <label> Title</label>
                <input type="text" name="title" class="form-control {% if 'invalid_title' in errors %} is-invalid {% endif %}" value="{{previous_values.Title}}">
                {% if 'invalid_title' in errors %}
                <div class="invalid-feedback">
                    {{errors.invalid_tile}}
                </div>
                {%endif%}
            </div>
            <div>
                <label>Content</label>
                <textarea name="editordata" id="summernote" class="form-control {% if 'invalid_content' in errors  %} is-invalid {% endif %}" ></textarea>
                {% if 'invalid_content' in errors  %}
                <div class="invalid-feedback">
                    {{errors.invalid_content}}
                </div>
                {% endif %}
            </div>

            <input type="submit" value="POST" class="btn btn-primary">
        {% endwith %}
    </form>
{% endblock %}