{% extends 'base.template.html' %}

{% block content %}
<div id="listing-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-listing my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">CREATE POST</h5>
                        <form method="POST" class="listing-form">
                            {%with%}
                                {% if not previous_values %}
                                    {% set previous_values = {} %}
                                {% endif %}
                                {% include 'forms/listing_form.template.html' %}
                                <input type="submit" value="CREATE LISTING" class="btn btn-danger btn-block">
                                <div class="text-center">
                                    <a class="small" href="{{url_for('home')}}" style="color:inherit;">Back to Home</a></div>
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
	<script type="text/javascript">
		var myWidget = cloudinary.createUploadWidget({
            cloudName: '{{cloud_name}}', 
            uploadPreset: '{{upload_preset}}'
        }, (error, result) => { 
                if (!error && result && result.event === "success") { 
                    console.log(result);
                    let assetId = result.info.asset_id;
                    let fileURL = result.info.url;
                    document.querySelector("#uploaded-file-url").value = fileURL;
                    document.querySelector("#asset-id").value = assetId;

                }
            }
        )

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
  
	</script>
{% endblock %}