{% extends 'base.template.html'%}

{% block content %}
    <div class="container">
        
    <h3>Updating Listing: {{listing.Title}}</h3>

    <form method="POST">
        {% with %}
            {% set previous_values= listing %}
            {% include 'forms/listing_form.template.html' %}
        {% endwith %}
        <input type="submit" value="update" class="btn btn-primary"/>
    </form>
    </div>



    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
	<script type="text/javascript">
		var myWidget = cloudinary.createUploadWidget({
            cloudName: '{{cloud_name}}', 
            uploadPreset: '{{upload_preset}}'
        }, (error, result) => { 
                if (!error && result && result.event === "success") { 
                    console.log(result);
                    let assetId = result.info.asset_id;
                    let fileURL = result.info.url;
                    document.querySelector("#uploaded-file-url").value = fileURL;
                    document.querySelector("#asset-id").value = assetId;

                }
            }
        )

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
	</script>
{% endblock %}