{% extends 'base.template.html' %}

{% block content %}
{% if current_user.is_authenticated %}
{{current_user.id}}
{{current_user.username}}
<a href="{{url_for('show_user_profile')}}" class=" btn btn-success btn-lg">Show Profile</a>
<a href="{{ url_for('logout') }}" class="btn btn-success btn-lg">Logout</a>
<a href="{{ url_for('edit_user_account') }}" class="btn btn-success btn-lg">Edit Account</a>
<a href="{{ url_for('delete_user_account') }}" class="btn btn-success btn-lg">Delete Account</a>
<a href="{{ url_for('create_post') }}" class="btn btn-success btn-lg">Create Post</a>
<a href="{{ url_for('show_user_posts') }}" class="btn btn-success btn-lg">My Posts</a>
<a href="{{ url_for('create_listing') }}" class="btn btn-success btn-lg">Create Listings</a>
<a href="{{ url_for('show_user_listings') }}" class="btn btn-success btn-lg">My Listings</a>
<div class="container">
    {% for each_post in posts %}
        <div>
            <div>
                <a class ='upvote-button' type="submit" onclick=upvote(this)  data-postid="{{each_post._id}}" ><i class="fa fa-arrow-up" style="font-size:24px;"></i></a>
                <div class="vote-count">
                    {{each_post.Votes}}
                </div>
                <a class= 'downvote-button' href="" onclick=downvote(this) data-postid="{{each_post._id}}" ><i class="fa fa-arrow-down" style="font-size:24px"></i></a>
            </div>
            <h2>{{each_post.Title}}</h2>
            <div>
                {{each_post.Content}}
                <div>
                <h5>Posted By {{each_post.Username}} </h5>
                <h5>Time of Post: {{each_post.Date_Posted.strftime('%Y-%m-%d %a %H:%M')}}</h5>
                </div>
            </div>
            <a href="{{ url_for('show_post',post_id = each_post._id)}}">Link To Post</a>

        </div>
    {% endfor %}
</div>

<div class="container">
    {% for each_listing in listings %}
        <div>
            <div>
                <img src="{{each_listing.Image_URL}}"/>
            </div>
            <div>
                <h2>{{each_listing.Title}}</h2>
            </div>
                <h4>{{each_listing.Price}}</h4>
                <p>{{each_listing.Description}}</p>
                <div>
                    <h5>Posted By: {{each_listing.Username}}</h5>
                    <h5>Time of Post: {{each_listing.Date_Posted.strftime('%Y-%m-%d %a %H:%M')}}</h5>
                    <p>Likes: {{each_listing.Likes}}</p>
                    <a href="{{ url_for('show_listing',listing_id = each_listing._id)}}">Show Listing</a>
                </div>
        </div>
    {% endfor %}
</div>


{% endif %}
{% endblock %}