{% extends 'base.template.html' %}

{% block content %}
<!-- Vertical Toolbar for the Users -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class=" user d-flex align-items-center flex-column"><i class="fa fa-user fa-5x rounded-circle shadow-sm"></i>
                <div class="user-body">
                    <h4 class="username">{{current_user.username}}</h4>
                </div>
            </div>

        </div>


        <p class="text-black font-weight-bold text-uppercase px-3 small pb-4 mb-0">User Menu</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item" id="navigation-links">
                <a href="{{url_for('home')}}" class="nav-link text-dark  bg-light " id="sidebar-nav-text">
                <i class="fa fa-th-large fa-2x mr-4"></i>Home</a>
            </li>

            <li class="nav-item" id="navigation-links">
              <a href="{{ url_for('marketplace') }}" class="nav-link text-dark  bg-light " id="sidebar-nav-text">
                <i class="fa fa-shopping-cart fa-2x mr-3" aria-hidden="true"></i>Marketplace</a>
            </li>

            <li class="nav-item" id="navigation-links">
                <a href="{{ url_for('search') }}" class="nav-link text-dark  bg-light " id="sidebar-nav-text">
                    <i class="fa fa-search fa-2x mr-3" aria-hidden="true"></i>Global Search</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item" id="navigation-links">
              <a href="{{url_for('show_user_profile')}}" class="nav-link text-dark bg-light" id="sidebar-nav-text">
              <i class="fa fa-id-card fa-2x mr-3" aria-hidden="true"></i>My Profile</a>
            </li>
            <li class="nav-item" id="navigation-links">
                <a href="{{ url_for('show_user_posts') }}" class="nav-link text-dark  bg-light" id="sidebar-nav-text">
                  <i class="fa fa-sticky-note-o fa-2x mr-3" aria-hidden="true"></i>My Posts</a>
                    
            </li>
            <li class="nav-item" id="navigation-links">
              <a href="{{ url_for('show_user_listings') }}" class="nav-link text-dark  bg-light" id="sidebar-nav-text">
                <i class="fa fa-list fa-2x mr-3" aria-hidden="true"></i>My Listings</a>
            </li>
            <li class="nav-item" id="navigation-links">
              <a href="{{ url_for('create_post') }}" class="nav-link text-dark  bg-light " id="sidebar-nav-text">
                  <i class="fa fa-pencil-square-o fa-2x mr-3" aria-hidden="true"></i>Create Post</a>
            </li>
            <li class="nav-item" id="navigation-links">
              <a href="{{ url_for('create_listing') }}" class="nav-link text-dark  bg-light" id="sidebar-nav-text">
                <i class="fa fa-tags fa-2x mr-3" aria-hidden="true"></i>Create Listing</a>
            </li>
            <li class="nav-item  px-3 small pb-4 mb-0" id="logout-area">
                <a href="{{ url_for('logout') }}" class="btn btn-danger btn-lg btn-block">
                    Logout</a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item  px-3 small pb-4 mb-0" id="logout-area">
              <a href="{{ url_for('login_user') }}" class="btn btn-success btn-lg btn-block">
                  Login</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- Main Page -->
    <div class="page-content" id="content">
        <nav class="navbar navbar-expand-lg navbar-light  bg-light shadow-sm" id="main-navbar">
            <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 d-inline-block align-top">
                <i class="fa fa-bars mr-3"></i><small class="text-uppercase font-weight-bold">{{current_user.username}}</small></button>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" id="nav-item-text" href="{{url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" id="nav-item-text" href="{{url_for('create_listing')}}">Create Listing</a>
                        </li>
                        
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="POST" id="searchbar-nav"> <input class="form-control mr-sm-2" name='search' value='{{required_search}}' type="text" placeholder="SEARCH LISTING"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">SEARCH</button> </form>
                  </div>
        </nav>


        <div class="jumbotron jumbotron-fluid" id="jumbotron-background">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="title-hero-text text-uppercase">Timeless</h1>
                    </div>
                </div>
            </div>
        </div>

       <div class="row" >
           <div class="col-md-9 pr-0">
                <div class="list-group-item" id="navigation-listing-area">
                    <div class="filter-settings">
                        <h5 id="filter-text-recent-listings" class="btn btn-lg btn-secondary mr-1 pt-1">Most Recent</h5>
                        <h5 id="filter-text-likes"class="btn btn-lg btn-secondary pt-1 mr-1"> Most Likes</h5>
                    </div>
                </div>
                <div class="posts-segment mx-auto" id="posts-area">
                    <ul class="list-group shadow">
                      {% set sort_on = request.args.sort_on|default('Date_Posted') %}
                        {% for each_listing in listings|sort(attribute=sort_on, reverse= True) %}
                            <li class="list-group-item">
                                <div class="media align-items-lg-center flex-column flex-lg-row p-3" >
                                    <div class="image-area mr-3 align-items-center" >
                                        <img src="{{each_listing.Image_URL}}"  width="200" class="ml-lg-3 order-1 order-lg-2 mb-2">
                                        <div class="like-area">
                                            <a class ='like-button mr-2' type="submit" onclick=like(this)  data-listingid="{{each_listing._id}}" ><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
                                            <div class="like-counter"> {{each_listing.Likes}}</div>
                                        </div>
                                    </div>
                                    <div class="media-body order-2 order-lg-1" onclick="window.location.href='{{ url_for('show_listing',listing_id = each_listing._id)}}'">
                                      <div class=" title-details">
                                        <h5 class="mt-0 font-weight-bold mb-2">{{each_listing.Title}}</h5>
                                        <div class="watch-details">
                                            <h6 class="mt-0 font-weight-bold mr-2">Brand: {{each_listing.Brand}}</h6>
                                            <h6 class="mt-0 font-weight-bold ">Model: {{each_listing.Model}}</h6>
                                        </div>
                                      </div>
                                      <p class="font-bold text-muted mb-0 small">{{each_listing.Description|truncate(length=255,end="...")}}</p>
                                      <div class="d-flex align-items-center justify-content-between mt-1">
                                        <div class="more-post-details">
                                          <h6 class="font-weight-bold my-2">Posted by: {{each_listing.Username}}</h6>
                                          <h6 class="font-weight-bold my-2">Price: ${{each_listing.Price}}</h6>
                                        </div>
    
                                        <h6 class="font-weight-bold my-2">Time Posted: {{each_listing.Date_Posted.strftime('%Y-%m-%d %a %H:%M')}}</h6>
                                      </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

           </div>
           <div class="col-md-3 p-0" id="side-area-items">
                <div class="community-area">
                    <ul class="list-group shadow">
                        <!-- list group item-->
                        <li class="list-group-item">
                          <!-- Custom content-->
                          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                              <h3 class="mt-0 font-weight-bold mb-2 text-uppercase" style="text-align:center;">About Community</h3>
                              <h5 class="font-weight-bold text-muted mb-0 small" style="text-align:center;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                              <div class="d-flex align-items-center justify-content-between mt-1 flex-column">
                                <h4 class= "my-2">Created August 30, 2020</h4>
                                <button type="button" id="create-listing-community-area" class="btn btn-secondary btn-block text-uppercase" onclick="window.location.href='{{url_for('create_listing')}}';">Create Listing</button>
                              </div>
                        </li>
                    </ul>
                </div>
                <div class="community-rules">
                    <ul class="list-group shadow">
                        <!-- list group item-->
                        <li class="list-group-item">
                          <!-- Custom content-->
                          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                              <h3 class="mt-0 font-weight-bold mb-2 text-uppercase" style="text-align:center;">Forum Rules</h3>
                              <div class="font-weight-bold text-muted mb-0 small" style="text-align:center;">
                                <div id="accordionExample" class="accordion shadow">

                                    <!-- Accordion item 1 -->
                                    <div class="card">
                                      <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">No Counterfeits or Replicas</a></h6>
                                      </div>
                                      <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                                        <div class="card-body p-5">
                                          <p class="font-weight-light m-0">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                          </p>
                                        </div>
                                      </div>
                                    </div>
                            
                                    <!-- Accordion item 2 -->
                                    <div class="card">
                                      <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Uncivil Discussion</a></h6>
                                      </div>
                                      <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                                        <div class="card-body p-5">
                                          <p class="font-weight-light m-0">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                            
                                    <!-- Accordion item 3 -->
                                    <div class="card">
                                      <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Posting Rules Violation</a></h6>
                                      </div>
                                      <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                        <div class="card-body p-5">
                                          <p class="font-weight-light m-0">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                            
                                  </div>
                                </div>
                        </li>
                    </ul>
                </div>
           </div>
       </div>
    </div>

{% endblock %}